/* Explicacion reglas de estilo
----------------------------
selector {propiedad: valor}
----------------------------
h1{color: red} (tipo de selector: selector de etiqueta. afecta todos los h1)
----------------------------------------------------------------------------
*/
/*-----------------------------------------------------------*/
/*Explicacion propiedad font size 
----------------------------------
Modifica el tamaÑo de la tipografia 
*/
/*-----------------------------------------------------------*/
/*tipografias
----------------
Existen tipografias originarias de css y otras agregadas de manera externa.
Utilizar google font para buscar tipografias ( https://fonts.google.com/ ).
Utilizar metodo @import para traer la tipografias deseada y colocarlo dentro del css
siempre al principio de todo.
-------------------------------------------------------------------------
utilizacion de font-family:
body {font-family: letra_a_utilizar}
------------------------------------
*/
/*-----------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;1,700&family=MuseoModerno:wght@700&display=swap');
.titulo{
    font-family: 'MuseoModerno';
    font-size: 40pt;
    text-align: center;
    margin-top: -3%;
    color: #0a2ff1;
}
.subtitulo{
    font-family: 'Asap';
    font-size: 20pt;
    text-align: center;
    margin-top: -5%;
    color: #0a2ff1;
}
.desarrollo{
    font-family: 'Asap';
    font-size: 20pt;
    text-align: center;
    color: #04146c;
}
.conoce_mendoza{
    font-family: 'MuseoModerno';
    font-size: 35pt;
    color: #0a2ff1;
    text-align: center;
}
.lista{
    font-family: 'Asap', bold;
    font-size: 30pt;
    color: #04146c;
    text-align: center;
    margin-top: -2%;
}
.logo{
    font-family: 'MuseoModerno', bold;
    font-size: 149pt;
    margin-top: -5%;
    color: #8a9af1;
}




